# Node modules
node_modules/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/

# Environment files
.env

# Reverted folder
reverted/

# Data folder
data/